trunk/l2jfree-datapack/cb_data/templates/top.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.l2jfree.com" xmlns="http://www.l2jfree.com"
	elementFormDefault="qualified">

	<xs:element name="servers_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="server" type="serverType" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="serverType">
		<xs:attribute name="sqlDPId" type="xs:int" use="required" />
		<xs:attribute name="dir" type="xs:string" use="required" />
	</xs:complexType>

</xs:schema>
